# -*- mode: makefile -*-

MAKE=make -f Makefile.local
# change below path to graalvm native-image binary file
GRAALVM=/path/to/graalvm-ce-xxxxx-xxx/Contents/Home/bin/native-image
GRAALVM_ARG=-H:+ReportUnsupportedElementsAtRuntime --no-server
JAR_NAME=karabiner-configurator-0.1.0-standalone
TARGET_JAR=target/$(JAR_NAME).jar
all:
	$(MAKE) clean
	$(MAKE) compile
	$(MAKE) bin
clean:
	lein clean
compile:
	lein test
	lein compile
	export LEIN_SNAPSHOTS_IN_RELEASE=override && lein uberjar
bin:
	$(GRAALVM) $(GRAALVM_ARG) -jar $(TARGET_JAR)
	mv $(JAR_NAME) goku
test-binary:
	# mkdir -p ~/.config/
	# cp ./resources/configurations/yqrashawn.edn ~/.config/karabiner.edn
	./goku