{:froms {:any_key_code {:any :key_code}}
 :layers {:vi-mode {:from :d}
          :vi-visual-mode {:from :v :alone :vk_none :conditions [:vi-mode]}}
 :main
 {:des "old-vi-mode"
  :rules [[:h :left_arrow :vi-mode]
          [:j :down_arrow :vi-mode]
          [:k :up_arrow :vi-mode]
          [:l :right_arrow :vi-mode]
          [:f :fn :vi-mode]
          [:Fh :home :vi-mode]
          [:Fj :page_down :vi-mode]
          [:Fk :page_up :vi-mode]
          [:Fl :end :vi-mode]
          [:0 :Ta :vi-mode]
          [:#S4 :Te :vi-mode]
          [:h :Sleft_arrow :vi-visual-mode]
          [:j :Sdown_arrow :vi-visual-mode]
          [:k :Sup_arrow :vi-visual-mode]
          [:l :Sright_arrow :vi-visual-mode]
          [:0 :CSleft_arrow :vi-visual-mode]
          [:#S4 :CSright_arrow :vi-visual-mode]
          [:b :OSleft_arrow :vi-visual-mode]
          [:w :OSright_arrow :vi-visual-mode]
          [:#Sopen_bracket :OSup_arrow :vi-visual-mode]
          [:#Sclose_bracket :OSdown_arrow :vi-visual-mode]
          [:return_or_enter [:d :return_or_enter :vk_none] :vi-mode]
          [:spacebar [:d :spacebar :vk_none] :vi-mode]
          [:tab [:d :tab :vk_none] :vi-mode]
          [:hyphen [:d :hyphen :vk_none] :vi-mode]
          [:equal_sign [:d :equal_sign :vk_none] :vi-mode]
          [:open_bracket [:d :open_bracket :vk_none] :vi-mode]
          [:close_bracket [:d :close_bracket :vk_none] :vi-mode]
          [:backslash [:d :backslash :vk_none] :vi-mode]
          [:non_us_pound [:d :non_us_pound :vk_none] :vi-mode]
          [:semicolon [:d :semicolon :vk_none] :vi-mode]
          [:quote [:d :quote :vk_none] :vi-mode]
          [:grave_accent_and_tilde [:d :grave_accent_and_tilde :vk_none] :vi-mode]
          [:comma [:d :comma :vk_none] :vi-mode]
          [:period [:d :period :vk_none] :vi-mode]
          [:slash [:d :slash :vk_none] :vi-mode]
          [:non_us_backslash [:d :non_us_backslash :vk_none] :vi-mode]
          [:1 [:d :1 :vk_none] :vi-mode]
          [:2 [:d :2 :vk_none] :vi-mode]
          [:3 [:d :3 :vk_none] :vi-mode]
          [:4 [:d :4 :vk_none] :vi-mode]
          [:5 [:d :5 :vk_none] :vi-mode]
          [:6 [:d :6 :vk_none] :vi-mode]
          [:7 [:d :7 :vk_none] :vi-mode]
          [:8 [:d :8 :vk_none] :vi-mode]
          [:9 [:d :9 :vk_none] :vi-mode]
          [:0 [:d :0 :vk_none] :vi-mode]
          [:a [:d :a :vk_none] :vi-mode]
          [:b [:d :b :vk_none] :vi-mode]
          [:c [:d :c :vk_none] :vi-mode]
          [:e [:d :e :vk_none] :vi-mode]
          [:g [:d :g :vk_none] :vi-mode]
          [:i [:d :i :vk_none] :vi-mode]
          [:m [:d :m :vk_none] :vi-mode]
          [:n [:d :n :vk_none] :vi-mode]
          [:p [:d :p :vk_none] :vi-mode]
          [:q [:d :q :vk_none] :vi-mode]
          [:r [:d :r :vk_none] :vi-mode]
          [:s [:d :s :vk_none] :vi-mode]
          [:t [:d :t :vk_none] :vi-mode]
          [:u [:d :u :vk_none] :vi-mode]
          [:w [:d :w :vk_none] :vi-mode]
          [:x [:d :x :vk_none] :vi-mode]
          [:y [:d :y :vk_none] :vi-mode]
          [:z [:d :z :vk_none] :vi-mode]
          [:any_key_code :vk_none :vi-visual-mode]]}} ;; multiple condition