{:applications {:vim-mode-disabled-application ["^com\\.apple\\.Terminal$",
                                                                     "^com\\.googlecode\\.iterm2$",
                                                                     "^co\\.zeit\\.hyperterm$",
                                                                     "^co\\.zeit\\.hyper$",
                                                                     "^io\\.alacritty$",
                                                                     "^net\\.kovidgoyal\\.kitty$",
                                                                     "^org\\.vim\\.",
                                                                     "^com\\.qvacua\\.VimR$"]}
 :simlayers {:vi-mode {:key :d}
             :vi-visual-mode {:key :v :condi :!vim-mode-disabled-application}}
 :main [{:des "Vi Mode [D as Trigger Key]"
         :rules [[:##j :down_arrow :vi-mode]
                 [:##k :up_arrow :vi-mode]
                 [:##h :left_arrow :vi-mode]
                 [:##l :right_arrow :vi-mode]
                 [:##b :!Oleft_arrow :vi-mode]
                 [:##w :!Oright_arrow :vi-mode]
                 [:##0 :!Ta :vi-mode]
                 [:##4 :!Te :vi-mode]]}
        {:des "Vi Visual Mode"
         :rules [[:##j :!Sdown_arrow :vi-visual-mode]
                 [:##k :!Sup_arrow :vi-visual-mode]
                 [:##h :!Sleft_arrow :vi-visual-mode]
                 [:##l :!Sright_arrow :vi-visual-mode]
                 [:##b :!SOleft_arrow :vi-visual-mode]
                 [:##w :!SOright_arrow :vi-visual-mode]
                 [:##0 :!SCleft_arrow :vi-visual-mode]
                 [:##4 :!SCright_arrow :vi-visual-mode]
                 [:##open_bracket :!SOup_arrow :vi-visual-mode]
                 [:##close_bracket :!SOdown_arrow :vi-visual-mode]]}]}