{:applications {:safari "^com\\.apple\\.Safari$"}
 :froms {:}
 :tos {}
 :layers {:command-q
          {:from :Cq
           :delayed_action {:if_invoked :!command-q :if_cancled :!command-q}}} ;; TODO !command-q here meas layer set_variable 0
 :enabled [["Quit application by pressing command-q twice" :Cq :Cq :command-q]
           ["Quit application by holding command-q"] :Cq {:held_down {:key :Cq :repeat false}}
           ["Quit Safari by pressing command-q twice" :Cq :Cq [:command-q :safari]]]}

;; TODO :Cq
;; TODO :!command-q